body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background: rgb(255, 207, 207);
  background: linear-gradient(
    90deg,
    rgba(255, 207, 207, 1) 0%,
    rgba(255, 255, 255, 1) 46%,
    rgba(169, 255, 164, 1) 100%
  );
}

.main-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.header-div {
  margin-bottom: 20px;
  font-size: 24px;
}

.form-side {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 400px;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form label {
  margin-bottom: 8px;
}

.login-form input {
  padding: 8px;
  margin-bottom: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.login-form input[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.login-form input[type="submit"]:hover {
  background-color: #0056b3;
}

@media only screen and (max-width: 600px) {
  .form-side {
    width: 250px;
  }
}
